* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif
}

.application {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.application_type-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 5px 0;
}

.application_type-block  p {
    margin-right: 20px;
}

.application_search-block {
    margin: 0 0 15px 0;
}

.width {
    width: 140px;
}

.parg {
    text-align: center;
    margin-top: 20px;
}

.none {
    display: none;
}


.table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

.table td, 
.table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(2n) {
    background-color: #f2f2f2;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
