* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.has-display-none {
    display: none;
}
/* START: Task 1 Styles */
.table {
    background: white;
    margin: 20px auto 0 auto;
    font-size: 18px;
}

.table-cell {
    border: 1px solid black;
    background: white;
    padding: 20px;
    width: 100px;
    height: 100px;
}

.has-white-bg {
    background: white;
}

.has-yellow-bg {
    background: yellow;
}

.has-blue-bg {
    background: blue;
}

.has-green-bg {
    background: green;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */
.phone-form {
    width: 415px;
    margin: 140px auto 60px auto ;
}

.phone-input {
    width: 340px;
    height: 50px;
    padding-left: 15px;
}

.phone-btn {
    width: 60px;
    height: 50px;
    margin-left: 10px;
}

.valid-area {
    width: 415px;
    max-height: 100px;
    font-size: 18px;
    color: #fff;
    border: 1px solid gray;
    margin: 0 auto 15px auto;
    padding: 20px;
}

.phone-input:active,
.phone-input:focus {
    outline: none;
}
/* END: Task 2 Styles */

/* START: Task 3 Styles */
.basketball-wrapper {
    width: 600px;
    max-height: 400px;
    margin: 0 auto 100px auto;
}

.field {
    position: relative;
    background: url(../homework/assets/court.png);
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 330px;
}

.basket-a,
.basket-b {
    position: absolute;
    top: 47%;
    width: 15px;
    height: 15px;
}

.basket-a,
.basket-b {
    width: 40px;
    height: 40px;
    top: 145px;
}
.basket-a {
    left: 23px;
}

.basket-b {
    right: 23px;
}

.ball {
    position: absolute;
    background: url(../homework/assets/ball.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    left: 46.5%;
    top: 44%;
    transition: 0.2s all;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
}

.goal {
    text-align: center;
    font-weight: bold;
}
/* END: Task 3 Styles */
